* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}



/* -----------header navBar----------- */

#header {
    width: 100%;
    background: radial-gradient(#fff, #dfbaba);
    min-height: 80vh;
}

.navBar {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.navBar-logo img {
    width: 200px;
}

.navBar-logo:hover {
    cursor: pointer;
}

.navBar-cart img {
    width: 100%;
}

/* -------navBar lists--------- */
.navBar .navBar-lists {
    display: inline-block;
    flex: 1;
    text-align: right;
    list-style-type: none;
    padding-bottom: 20px;
}

.navBar ul li {
    display: inline-block;
    padding: 0 20px
} 

.navBar a {
    text-decoration: none;
    color: #000;
}

.navBar a:hover {
    font-weight: bolder;
}

/* --------cart-------- */
.navBar .navBar-cart {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 2px;
}

.navBar .navBar-cart:hover {
    cursor: pointer;
}

.navBar-cart img {
    width: 100%;
}

/* ----------header content--------- */

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.row .col-2 {
    flex-basis: 50%;
    min-height: 300px;
}

.col-2 img {
    width: 100%;
}

.row h1 {
    font-weight: 800;
    margin-bottom: 10px;
}

.row p {
    margin-bottom: 10px;
}

.row button {
    padding: 10px;
    background-color: #ec6060;
    border-radius: 30px;
    width: 120px;
    border: none;
    transition: ease 0.5;
}

.content-common a:hover,
.row button:hover {
    width: 150px;
    opacity: 0.9;
    cursor: pointer;
}

/* ---------container width-------- */
#container-width {
    width: 80%;
    margin: 40px auto 0;
}

/* -------category--------- */

#category {
    margin-top: 100px;
}
.row .col-3 {
    flex-basis: 30%;
    min-height: 250px;
}

.col-3 img {
    width: 100%;
}

/* --------Products-------- */
#feature {
    margin: 80px 0;
}

#feature .product-heading {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 60px;
    line-height: 40px;
}

#feature .product-heading::after {
    content: "";
    width: 80px;
    height: 6px;
    background-color: #ec6060;
    border: none;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: -10px;
}

.col-4 {
    flex-basis: 25%;
    margin: 10px;
    transition: ease-in 0.5;
}

.col-4:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.col-4 img {
    width: 100%;
    margin-bottom: 10px;
}

.col-4 h3 {
    font-size: 16px;
}

.col-4 div {
    height: 20px;
}

.col-4 .fa-solid {
    font-size: 12px;
    color: rgb(255, 140, 0);
}

/* -------PRODUCT COMMON------- */
#common {
    width: 100%;
    background: linear-gradient(to right, #ecb9b9,#dfbaba,  #fff);
    min-height: 80vh;
}

#common .row {
    padding: 80px 0;
}

#common img {
    width: 80%
}

.content-common {
    align-items: center;
}

.content-common h1 {
    margin-top: 20px;
    font-weight: bolder;
}

.content-common p {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 20px 0;
    line-height: 1.4;
}

.content-common a {
    text-decoration: none;
    color: #fff;
    background-color: #ec6060;
    border: none;
    line-height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    width: 120px;
}

/* ---------infor user---------- */

#user {
    padding-top: 80px;
}

.col-3 i {
    color: rgb(255, 140, 0);
    font-size: 30px;
}

.col-3 div i {
    color: rgb(255, 140, 0);
    font-size: 16px;
}

.user-img {
    width: 60px;
    height: 60px;
    margin: 10px 0;
}

.user-img img {
    width: 100%;
    border-radius: 50%;
}

/* ----------Store Online---------- */


.col-5 {
    flex-basis: 20%;
    padding: 20px;
}

.col-5 img {
    width: 100%;
}

/* -------footer------ */

#footer {
    width: 100%;
    background-color: #000;
    min-height: 300px;
}

#footer .row {
    padding: 40px 0;
    flex-wrap: wrap;
}

.footer-col-1,
.footer-col-2 {
    flex-basis: 30%;
    text-align: center;
}

.footer-col-3 {
    flex-basis: 20%;
    text-align: center;
}

span p,
.footer-col-3 h3,
.footer-col-1 h3 {
    color: rgb(168, 159, 159);
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-col-3 li,
.footer-col-2 p,
.footer-col-1 p {
    color: rgb(140, 135, 135);
    font-size: 14px;
}

.footer-col-1 div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-col-1 img {
    max-width: 140px;
}

.footer-col-2 img {
    width: 200px;
    margin-bottom: 10px;
}

.footer-col-3 ul {
    list-style-type: none;
}

span {
    text-align: center;
    padding: 20px;
}

.menu {
    width: 28px;
    height: 28px;
    left: 20px;
    top: 20px;
    display: none;
}


/* -------------------------All products page--------------------- */
select {
    padding: 5px;
    border: 1px solid #ff523b;
}

select:focus {
    outline: none;
}

.page-btn {
    text-align: center;
}

.page-btn span {
    padding: 10px 12px;
    border: 1px solid #ec6060;
    margin: 0 10px;
}

.page-btn span:hover {
    background-color: #ec6060;
    cursor: pointer;
}

/* -------------SMALL SCREEN----------- */

@media (max-width: 740px) {
    .menu {
        display: block;
    }
    .navBar-logo {
        width: 120px;
    }

    .navBar-logo img {
        width: 100%;
    }

    .navBar-lists ul {
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        background-color: #000;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    .navBar ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 28px;
    }

    .navBar-lists ul a {
        color: #fff;
    }

    .row {
        flex-direction: column;
    }

    
    #user .col-3 {
        text-align: center;
    }
    #user .user-img {
        margin: 0 auto;
    }

    .col-3 {
        margin: 10px 0;
    }
}



/* ----------------PRODUCT DETAIL------------------ */
#productDetail {
    margin: 80px 0;
}

#productDetail h1 {
    font-size: 40px;
    margin: 20px 0;
    font-weight: bolder;
}

#productDetail .col-2 {
    padding: 10px;
}


#productDetail h4 {
    margin: 20px 0;
}

#productDetail select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#productDetail input {
    width: 50px;
    height: 26px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

#productDetail input:focus {
    outline: none;
}

#productDetail a {
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #ff523b;
}

#productDetail a:hover {
    cursor: pointer;
    opacity: 0.8;
}

#productDetail h3 {
    margin: 20px 0;
}



#productDetail .text-about {
    font-size: 14px;
}

#productDetail .img-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#productDetail .img-col {
    flex-basis: 24%;
    border: 1px solid #c4bcbc;
}

#productDetail .img-col:hover {
    cursor: pointer;
}

#productDetail .img-col img {
    width: 100%;
}


@media (max-width: 740px) {
    #productDetail .row {
        text-align: left;
    }

    #productDetail .col-2,
    #productDetail .col-3,
    #productDetail .col-4 {
        flex-basis: 100%;
    }
}


/* ---------CART PAGE--------- */

#cart-page {
    margin: 80px 0 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background-color: #ff523b;
    padding: 5px 10px;
    text-align: left;
}

#cart-page .cart--page__infor {
    display: flex;
    flex-wrap: wrap;
}

#cart-page img{
    height: 80px;
    width: 80px;
    padding: 10PX;
}

.cart--page__inforProduct {
    padding: 10px 0;
}

#cart-page input {
    height: 30px;
    width: 40px;
    padding: 5px;
}

.cart--page__infor a{
    text-decoration: none;
    color: #ff523b;
    font-weight: 800;
}


#total-price {
    display: flex;
    justify-content: flex-end;
}

#total-price table{
    border-top: 3px solid #ff523b;
    max-width: 480px;

}

th:last-child,
td:last-child {
    text-align: right;
}

#total-price tr {
    line-height: 40px;
}


